# roblox-ts built directories
/node_modules
/out
/include

# Environment secrets
.env

# Logs
*.tsbuildinfo
*.log

# Temporary files
current_branch

# Game secrets
publish.sh
/raw
/archive

# Built files
build.rbxlx
build.rbxlx.lock

# Selene built files
roblox.toml
