# Build directory
/out

# rbxtsc generated directories
/include

# Node modules
/node_modules

# Archive stuff
/archive

# Environment secrets
.env

# Logs
*.tsbuildinfo
*.log

# Temporary files
current_branch

# Game secrets
publish.sh
/raw

# Built files
build.rbxlx
build.rbxlx.lock

# Selene built files
roblox.toml
